* {
    padding: 0px;
    margin: 0px
}

.sliderize {
    width: 50vw;
    height: 50vh;
    margin: auto;
}

.slider_item {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 2s ease-in-out;
}

.buttons{
    height: 20px;
    text-align: center;
}

.e {
    min-width:100%;
}

.e:nth-of-type(even){
    background-color: red;
}

.x{
    width: 50%;
    height: 50%;
    object-fit: cover;
}



